.page-favorites {
	background-color: black;
	color: white;
	min-height: 100vh;

	font-family: 'Montserrat', sans-serif;
}

.favorites-title {
	padding: 1rem;
	text-align: center;
	font-size: 2rem;
	font-weight: bold;
	color: #ecc901;
}

.favorites-empty {
	text-align: center;
	font-size: 1.2rem;
	color: #cccccc;
	padding: 2rem;
}

.favorites-content-box {
	background-color: #1a1a1a;
	padding: 20px;
	border-radius: 10px;
	margin: 0 auto;
	max-width: 1200px;
}
