.header-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	padding: 1.5rem;
	background-color: var(--dark-grey-bg);
	box-shadow: 0px 4px 15px 2px rgb(75, 75, 75);
}

.header-section__logo {
	background-color: var(--yellow-clr);
	max-width: 12rem;
}
