:root {
	/* lägg till variabler som kan återanvändas här - färger, font-styles */

	/* sen för att hämta/använda denna variabel (exempel): 
  '.indexpage__section {
      background-color: var(NamnPåVariabel)';
  } */

	--black-bg: #000000;
	--dark-grey-bg: #rgb(20, 20, 20);
	--light-grey-clr: #999999;
	--yellow-clr: #f5f119;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app {
	max-width: 1100px;
	margin: 0 auto;
	min-height: 100vh;
}

.page {
	min-height: 100vh;
	background-color: var(--black-bg);
}
